<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ theme }}">
  </head>
  <body>
    <div id="app"></div>
    {% for asset in assets %}
      <script src="{{ asset }}"></script>
    {% endfor %}
    <script>

window.$docsify = {
  repo: 'sb-im',
  name: 'SB developer',
  relativePath: true,
  fallbackLanguages: ['zh-cn'],
  loadNavbar: 'NAVBAR.md',
  loadSidebar: 'SUMMARY.md',
  subMaxLevel: 3,
  markdown: {
    renderer: {
      code: function(code, lang) {
        if (lang === "mermaid") {
          return (
            '<div class="mermaid">' + mermaid.render('mermaid-svg-' + num++, code) + "</div>"
          );
        }
        return this.origin.code.apply(this, arguments);
      }
    }
  }
}

var num = 0;
const isDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches

const conf = { logLevel:4, startOnLoad: false, themeCSS:'.label { font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif; }' };
if(isDarkMode && false) conf.theme = 'dark';
mermaid.initialize(conf);

    </script>
  </body>
</html>
