<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>SB Developer</title>
    <link rel="icon" href="assets/favicon.png">
    <link rel="stylesheet" href="assets/docsify-darklight-theme.min.css" title="docsify-darklight-theme">
  </head>
  <body>
    <div id="app"></div>
    <script>
window.$docsify = {
  repo: 'sb-im',
  name: 'SB developer',
  relativePath: true,
  fallbackLanguages: ['zh-cn'],
  homepage: 'home.md',
  loadNavbar: 'navbar.md',
  loadSidebar: 'summary.md',
  subMaxLevel: 3,
}
    </script>
    {% for asset in assets %}
      <script src="{{ asset }}"></script>
    {% endfor %}
    <script src="assets/docsify-darklight-theme.min.js">
  </script>
  </body>
</html>
